
body
	{
	color:#809070;
	background-color: #101010;
	}
	
	
#navigation li a
	{
	color: #809070;
	}
	
.myline
	{
	}
	
header,footer
	{
	background-color: #101010;
	}
	
#prenom_nom,#mat_name
	{
	/*color:#809070;*/
	}
	