
body
	{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	margin:0;
	padding:0;
	color:#444444;
	}
	
a
	{
	color: #ee8c01;
	}
@font-face {
	font-family: "SuperPolice";
	font-style: normal;
	font-weight: normal;
	src: url("CodaCaption-Heavy.ttf") format("opentype");
}
#allcontent
	{
	 min-height: 100%;
    position: relative;
    width: 100%;
	}
	
img
	{
	border:none;
	}

header
	{
	background-color: #f0f0f0;
	border-bottom: 1px solid #908e8e;
min-height: 145px;
    margin-bottom: 20px;
    width: 100%;
	}
.contenu-head{
    margin: auto;
    width: 960px;
	padding-top: 20px;
}
img.polygo-top{
position:absolute;
top:0;
left:0;
z-index: 1;
}	
footer
	{
	text-align: center;
	margin-top:25px;
	padding-top:20px;
	min-height:68px;
	background-color: #f0f0f0;
	padding-bottom:30px;
	}
.contenu-foot {
    margin: auto;
    padding-top: 20px;
    width: 960px;
}
.mat_name{
	font-family:SuperPolice, verdana, arial;
	font-size: 30px;
	color:#4b4b4b;
	float:right;
}
.create{
 float: right;
}
#photoperso
	{
	float:left;
	margin-left:30px;
	}
	
#contract
	{
	float: left;
	margin-bottom:17px;
    margin-top: 27px;
	}
	
#prenom_nom
	{
	font-family:SuperPolice, verdana, arial;
	font-size: 37px;
	color:#4b4b4b;
	position: relative;
    z-index: 2;
    display:block;
    text-decoration: none;
	}
	
#job
	{
	color:#ff9600;
	font-size:16px;
	}
	
#email
	{
	margin-top:10px;
	}
	
#phone
	{
	}
	
#mailphone
	{
	float:left;
	margin-left:20px;
	}
	
#adress
	{
	float:right;
	border-left:1px solid #8F8D8D;
	color:#8f8d8d;
	font-size:12px;
	padding-left:10px;
	}
	
nav
	{
	margin-top:20px;
	margin-bottom:20px;
	float: left;
	}
section{
margin-left: 320px;
    padding-top: 35px;
}
#global{
	margin: auto;
    width: 960px;
}	
#navigation li
	{
	border-bottom: 1px solid #808080;
    list-style-type: none;
    padding: 13px 0;
	}
#navigation li img.ico
	{
	padding-right:10px;
	vertical-align:middle;
	}
#navigation li a
	{
	text-decoration: none;
	color:#444444;
	text-transform: uppercase;
	font-size:13px;
	font-weight:bold;
	vertical-align:middle;

	}
	
#navigation li a:hover
	{
	text-decoration: none;
	color:#FF9600;
	}

h1{
	font-family:SuperPolice, verdana, arial;
	 font-weight: normal;
}	
.line
	{
	display:block;
	margin:auto;
	}
	
.intersectionline
	{
	display:block;
	margin:20px auto 20px auto;
	}

.publication_year
	{
	padding-left:20px;
	}
	
.publication_type
	{
	padding-left:40px;
	}

.publication
	{
	margin-left:60px;
	margin-bottom:10px;
	}
	
.publication .name
	{
	text-decoration: none;
	 font-weight: bold;
	}
	
.publication .author
	{
	font-style: italic;
	}
	
.publication .conference
	{
	margin-left:10px;
	}	
	
.publication .read
	{
	margin-left:10px;
	text-decoration: none;
	}	
	
#cvbox
	{
	margin-left:40px;
	}
	
#cvbox img
	{
	margin-left:30px;
	margin-top:10px;
	}	
	
.persoscreenshot
	{
	text-align: center;
	float:right;
	margin:0px 0px 10px 20px;
	}
	
.gallery, .espaced_gallery
	{
	/*float:left;*/
	width:180px;
	height:190px;
	text-align: center;
	display:inline-block;
	}
	
.espaced_gallery
	{
	margin:10px;
	}
	
.gallery .description
	{
	font-size: 10px;
	}
	
.gallery img
	{
	}
	
.comebacktoindex
	{
	margin-top:20px;
	margin-bottom:-0px;
	display:block;
	text-align: center;
	text-decoration: none;
	color:#444444;
	}
	
.linenumber
	{
	color:blue;
	width:40px;
	display:inline-block;
	}
	
.download
	{
	}
	
.download .title
 	{
 	font-weight: bold;
 	}
 
.changelog
 	{
 	}
 	
.changelog .item
 	{
 	}
 	
 .release
 	{
 	margin-left:40px;
 	font-style:italic
 	}
 	
 .right_fig
 	{
 	text-align:center;
 	float:right;
 	margin:15px 0px 15px 15px;
 	}
 	
 #styleSwitcher
 	{
 	float:right;
 	text-align: right;
 	margin-top:50px;
 	border:1px solid rgb(200,200,200);
 	padding:5px;
 	}
 	
 #styleSwitcher2
 	{
 	text-align: center;
 	}
 	
 #styleSwitcher2 a
 	{
 	text-decoration: none;
 	 color:#444444;
 	}
 	
  #styleSwitcher2 a:hover
 	{
 	text-decoration: underline;
 	color:#FF9600;
 	}
 	
 .styleButton
 	{
 	padding:2px;
 	margin:2px;
 	display:inline-block;
 	}
 
 .myline
 	{
 	border-top:1px solid #FF9600;
 	width:500px;
 	margin:20px auto 35px auto;
	position:relative;
 	}
 .rect{
 position: absolute;
    right: 250px;
    top: -11px;
 }
.legend{
font-size:10px;
}
.poly_bottom{
 bottom: 118px;
    position: absolute;
    right: 0;
    z-index: 0;
}

.monimage
	{
	border:none;
	float:left;
	margin:0px 15px 5px 0px;
	}

#navigationAdmin
	{
	margin-top:20px;
	margin-bottom:20px;
	}
	
#navigationAdmin li
	{
	display: inline;
	list-style-type: none;
	}
	
#navigationAdmin li a
	{
	text-decoration: none;
	}
	
#navigationAdmin li a:hover
	{
	text-decoration: none;
	color:red;
	}
	
.SubmitNewsLetter
	{
	margin-top:5px;
	margin-bottom:5px;
	}
	
.SubmitNewsLetter .text
	{
	margin-bottom: 5px;
	}
	
.SubmitNewsLetter input
	{
	float: left;
	height: 22px;
	/* margin-top: 10px; */
	width: 201px;
	border-radius: 5px 0px 0px 5px;
	-webkit-appearance: none;
	border: 1px solid lightgray;
	padding-left: 5px;
	}
	
.SubmitNewsLetter .button:hover
	{
	color: #444444;
	background-color: #FFFFFF;
	border:1px solid #444444;
	line-height: 24px;
	}
	
.SubmitNewsLetter .button
	{
	background-color: #444444;
	color: white;
	display: inline-block;
	/*float: left;*/
	/* height: 39px; */
	/* margin-top: 10px; */
	text-align: center;
	width: 29px;
	line-height: 26px;
	border-radius: 0px 5px 5px 0px;
	text-decoration: none;
	}
	
.SubmitNewsLetter .status
	{
	margin-top: 5px;
	color: #ee8c01;
	}
	

.featurelu
	{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	}

.featurelu li
	{
	padding-left: 1em;
	text-indent: -1em;
	}

.featurelu li:before
	{
	content: "[+]";
	padding-right: 5px;
	}

.personal_project
    {
    padding: 10px;
    /*margin: 5px 5px 20px 5px;
    border: 1px solid #2e2e2e;
    background-color: #535353;
    color: #F0F0F0;*/
	border-top: 1px solid #bdbdbd;
    }

.personal_project .title
    {
    font-size: large;
     font-weight: bold;
    }

.personal_project .image
    {
    float: right;
    margin-left: 15px;
    }

.personal_project .image img {
    /*border: 1px solid #2e2e2e;*/
    }

.personal_project .description
    {
    }
