.autor
	{
	}
	
.position
	{
	font-style: italic;
	margin-bottom:25px;
	}

.todef
	{
	color:#B023D7;
	}
	
.fig
	{
	text-align:center;
	}
	
.fig img
	{
	padding: 10px;
	background-color: white;
	border-radius:4px;
	}

.question
	{
	font-style:italic;
	padding-left:20px;
	}
	
.question img
	{
	vertical-align:middle;
	margin-right:10px;
	margin-top:-6px;
	}
	
.definition
	{
	padding:5px;
	margin:5px;
	background-color:#EDF7FC;
	border-radius:4px;
	}
	
.definition .mhead
	{
	font-weight:bold;
	}

.definition .mbody
	{
	padding-left:20px;
	}
	
.small_example
	{
	font-style:italic;
	}
	
.example
	{
	padding:5px;
	margin:5px;
	background-color:#F7EDFC;
	border-radius:4px;
	}
	
.example .mhead
	{
	font-weight:bold;
	}
	
.example .mbody
	{
	padding-left:20px;
	}
	
.instruction
	{
	padding:5px;
	margin:5px;
	background-color:#EDEDED;
	border-radius:4px;
	}
	
.instruction .mhead
	{
	font-weight:bold;
	}
	
.instruction .mbody
	{
	padding-left:20px;
	}
	
.rule
	{
	padding:5px;
	margin:5px;
	background-color:#F7FCED;
	border-radius:4px;
	}
	
.writerule
	{
	color:green;
	}
	
.rule .name
	{
	font-weight:bold;
	}
	
.equation
	{
	text-align: center;
	}
	
/* ============= QUIZ ===============*/

.quiz
	{
	padding:5px;
	margin:5px;
	background-color:#CDFFCD;
	border-radius:4px;
	}

.quiz .title
	{
	font-weight: bold;
	}

.quiz .quiz_question .title
	{
	}

.quiz .quiz_question
	{
	margin-left:20px;
	margin-top:10px;
	}

.quiz .quiz_answer .title
	{
	}

.quiz .quiz_answer
	{
	margin-top:10px;
	margin-left:20px;
	}
#bloc_site{
	width:960px;
	margin:auto;
}