.figure
	{
	margin: auto;
	padding:10px;
	}
	
.figure .content
	{
	margin-bottom:10px;
	}
	
.figure .label
	{
	color:gray;
	}
	
.example
	{
	background: #8CBE5F;
	border: 1px solid #407213;
	display: inline-block;
	margin:2px;
	}
	
.example .title
	{
	padding:5px;
	border-bottom: 1px solid #407213;
	}
	
.example .content
	{
	background: #BCE498;
	padding:5px 20px 5px 20px;
	font-family: monospace;
	}	

body
	{
	counter-reset: h2counter;
	counter-reset: h4counter;
    max-width: 600px;
	}
    
h1
	{
	counter-reset: h2counter;
	}
	
h2:before
	{
	content: counter(h2counter) ".\0000a0\0000a0";
	counter-increment: h2counter;
	counter-reset: h3counter;
	}
	
h3:before
	{
	content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
	counter-increment: h3counter;
	}
	
		
h4:before
	{
	content: counter(h4counter) ".\0000a0\0000a0";
	counter-increment: h4counter;
	}
	
.operator
	{
	margin:20px 5px 20px 20px;
	border-left:1px solid black;
	padding:5px 0px 5px 10px;
	}
	
.operator .operator_name
	{
	font-size: 140%;
	font-weight: bold;
	color: #0000dd;
	}	

.operator .description
	{
	margin-left:40px;
	margin-top:20px;
	margin-bottom:20px;
	}	

.operator .title
	{
	font-size: 120%;
	font-weight: bold;
	margin-left:40px;
	margin-top:10px;
	/*border-bottom:1px solid black;*/
	}	
	
	
.operator .content
	{
	margin-left:80px;
	}	
	
.operator .item
	{
	margin-top:5px;
	}	
		
.operator .name table tr
	{
	}
		
.operator .name
	{
	font-weight: bold;
	padding-right:20px;
	padding-top:10px;
	vertical-align: top;
	}	
	
.operator .details
	{
	padding-top:10px;
	}	

.operator .tag_signal
	{
	color:#FF3E3E;
	}
	
.operator .tag_optionnal
	{
	color:#674DDE;
	}

.operator .anonymous_arguments
	{
	}	
	
.operator .named_arguments
	{
	}	
	
.operator .operator_example .content
	{
	font-family: monospace;
	}	

.operator .operator_example .title
	{
	padding-bottom: 10px;
	}
	
.operator_index
	{
	border-spacing: 0;
	border-bottom:1px solid #D0D0D0;
	}
	
.operator_index th
	{
	text-align: left;
	padding:5px 3px 3px 5px;
	}
	
.operator_index td
	{
	border-top:1px solid #D0D0D0;
	padding:5px 3px 3px 5px;
	vertical-align: top;
	}
	
.operator_index .name
	{
	padding-left:10px;
	padding-right:50px;
	font-weight: bold;
	}
	
.operator_index .name a
	{
	text-decoration: none;
	}
	
.operator_index .definition
	{
	}
		
.nicetable
	{
	border-bottom:1px solid black;
	border-spacing: 0;
	}
	
.nicetable tr
	{
	}
		
.nicetable th
	{
	border-top:1px solid black;
	padding:2px 5px 2px 5px;
	text-align: left;
	}
		
		
.nicetable td
	{
	border-top:1px solid black;
	padding:2px 5px 2px 5px;
	}
		
		
	
	

